body{
    color: #1b1b1b;
    font-size: 18px;
    margin-left: 40px;

}
div{
    background-color: lightgrey;
    width: 40px;
    padding: 160px;
    margin-left: 0px;
}
.icon{
    align-items: center;
    margin-left: -30px;
}

